################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/MenuLibrary/bin
/MenuLibrary/obj
/bin
/MenuLibraryTest/bin
/MenuLibraryTest/obj