
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

:root {
    --header-height: 2rem;
    --nav-width: 68px;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --white-color: #838383;
    --hover-color: #496f88;
    --left-menu-background-color: #e9e7ef;
    --left-menu-foreground-color: #838383;
    --header-background-color: #9010c3;
    --header-foreground-color: #e9e7ef;
}

.connected {
    color: darkgreen;
}

.disconnected {
    color: red;
}

#map {
    height: 400px;
    width: 100%;
    box-shadow: 4px 3px 8px 1px #969696;
    border-radius: 3px 4px;
}




*, ::before, ::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.content {
    margin-top: 25px;
    width: 85%;
    float: left
}

.column {
    float: left;
    padding: 0 10px;
}

.navbar_left {
    float: left;
    padding: 0 10px;
}

.nav_top {
    height: 80vh;
}

.nav_bottom {
    height: 10vh;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: var(--header-foreground-color);
    background-color: var(--header-background-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    font-size: 1.5rem;
    cursor: pointer
}

.l-navbar {
    position: fixed;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--left-menu-background-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo, .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
}

.nav_logo-name {
    font-weight: 700
}

.navbar_brand {
    color: var(--header-foreground-color);
    font-weight: 500
}

.static-bottom {
    color: aquamarine;
}

.nav_link {
    position: relative;
    margin-bottom: 0.5rem;
    transition: .3s
}

    .nav_link:hover {
        color: var(--hover-color)
    }

.indent {
    margin-left: 2rem;
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

    .active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
    }

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

        .header_img img {
            width: 45px
        }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

.dropdown-toggle::after {
    margin-left: 0
}